您的微信账号已与壹药网账号$username绑定，点击进入<a href="http://my.m.111.com.cn/ucenter/myCenter.action?tracker_u=1273737">我的壹药网</a>。
如需解除绑定或更换账户，请点击<a href="http://weixin.111.com.cn/mw/page/$shopId/$venderId/$openId/unbind">绑定管理</a>
